.bg-modal {
    width : 70%;
    height : 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    }
    .modal-content {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    position: relative;
    }
    .close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    }
    .please{
    display:inline;
    }
