{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>add items tech dep</title>

	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dynamictable.css' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">


</head>

<body class="bg-gradient-secondary">

<div class="container">

	<div class="card o-hidden border-0 shadow-lg my-5">
		<div class="card-body p-0">
			<ul class="nav justify-content-end nav-pills nav-fill">
				<li class="nav-item">
					<a class="nav-link bg-primary active" href="{% url 'create_dem' %}">
						<img src="{% static 'img/developer.svg'%}" width="30" height="30" alt="">Technical
						department</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'create_at' %}">Workshop Chief</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'create_prod' %}">Production Manager</a>
				</li>

			</ul>
			<!-- Nested Row within Card Body -->
			<div>

				<div>
					<div class="p-5">
						<div class="text-center">
							<h1 class="h4 text-gray-900 font-weight-bold mb-4">Add items to manufacturing order</h1>

						</div>

						<div>

							<div class="col-sm-6">
								<label class=" h5 font-weight-bold">Manufacturing Order</label>
								<h1 class="h5 text-gray-900 mb-4"> MO/{{OFId}} </h1>
							</div>
						</div>
						<div>
							<a class="btn btn-outline-primary" href="#" id="add">Add item</a>
						</div>


						<br>
						<table class="test table table-sm" id="itemstab">
							<thead>
							<tr>
								<th scope="col" >Index</th>
								<th scope="col">Product ID</th>
								<th scope="col">Designation</th>
								<th scope="col">Quantity</th>
								<th scope="col"></th>
							</tr>
							</thead>
							<tbody class="detail">

							</tbody>
						</table>
						<div class="row">
							<div class="col text-right col-sm-6">
								<button class="btn btn-success btn-icon-split btn-block" type="submit" value="Submit"
								        style="width:30%">Confirm
								</button>
							</div>
							<div class="col text-left col-sm-6">
								<button class="btn btn-dark btn-icon-split  btn-block" type="submit" value="Submit"
								        style="width:30%">Cancel
								</button>
							</div>
						</div>


						<hr>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="bg-modal">
	<div class="modal-content">
		<div class="close">+</div>
		<form onsubmit="addingrow() ; return false;" name="itemform" id="radh" action='' >
			<div class="col-auto">
				<div class="form-group">
					<label for="ref">Reference:</label>
					<input class="form-control form-control-user" type="text" name="ref" id="ref" required>
				</div>

				<div class="form-group">
					<label for="desig">Designation:</label>
					<input class="form-control form-control-user" type="text" name="desig" id="desig" required>
				</div>
				<div class="col">
					<label for="quantity">Quantity:</label>
					<input class="form-control form-control-user" type="number" min="0" name="quantity" id="quantity" required>
				</div>
			</div>
			<div class="form-group">
				<input class="btn btn-success btn-icon-split " type="submit" value="Add" id="addrow" style="width:30%"/>
				<button class="btn btn-dark btn-icon-split " type="reset" value="Reset" id="clear" style="width:30%">Cancel
				</button>
			</div>

		</form>
	</div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js'%}"></script>
<script src="{% static 'js/popupform.js'%}"></script>
<script src="{% static 'js/dynamtab.js'%}"></script>
<script src="{% static 'js/notnullwarning.js'%}"></script>
<script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'%}"></script>

</body>


</html>