<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ajout pièces </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/mymodule/">Ajouter une pièce</a>
            </div>


        </div>
    </nav>

    <div class="container">
        <div class="row">


{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Ajouter une pièce</div>
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                        <div class="form-group clearfix">
                            <label for="{{ form.refpiece.id_for_label }}" class="col-md-4 control-label text-right">Date d'émission<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ ajout.refpiece }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.index.id_for_label }}" class="col-md-4 control-label text-right">numéro OF<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ ajout.index }}
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <label for="{{ form.quantity.id_for_label }}" class="col-md-4 control-label text-right">priorité<span class="text-red">*</span>:</label>
                            <div class="col-md-6">
                                {{ ajout.quantity }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.dimension.id_for_label }}" class="col-md-4 control-label text-right"> statut</label>
                            <div class="col-md-6">
                                {{ ajout.dimension }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.qualification.id_for_label }}" class="col-md-4 control-label text-right">Date de démarrage prévue:</label>
                            <div class="col-md-6">
                                {{ ajout.qualification }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.nbplannedhours.id_for_label }}" class="col-md-4 control-label text-right">Date de démarrage réalisée:</label>
                            <div class="col-md-6">
                                {{ ajout.nbplannedhours }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.nbrealizedhours.id_for_label }}" class="col-md-4 control-label text-right">Date de clôture prévue:</label>
                            <div class="col-md-6">
                                {{ ajout.nbrealizedhours }}
                            </div>
                        </div>
                          <div class="form-group clearfix">
                            <label for="{{ form.nbpiecesconform.id_for_label }}" class="col-md-4 control-label text-right">Date de clôture actualisée:</label>
                            <div class="col-md-6">
                                {{ ajout.nbpiecesconform }}
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label for="{{ form.nbpiecesnotconform.id_for_label }}" class="col-md-4 control-label text-right">Date de clôture réalisée</label>
                            <div class="col-md-6">
                                {{ ajout.nbpiecesnotconform }}
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Créer" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
        </div>
    </div>


</body>
</html>