{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <style>
    	* { font: 17px Calibri; }
        table { width: 60%; }
        table, th, td { border: solid 2px #DDD;
            border-collapse: collapse; padding: 3px 3px; text-align: center;
        }
    </style>
    <title>MO edit</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body onload="createTable()" class="bg-gradient-primary">
<p><h1> {{abc}}</h1></p>

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                       <ul class="nav justify-content-end nav-pills nav-fill"">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'edit_dem' %}">Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_prod' %}">Production Chief</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_at' %}">Workshop Chief</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <!-- Nested Row within Card Body -->
                <div >

                    <div>
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 font-weight-bold mb-4">Edit a manufacturing order</h1>

                            </div>
                            <form class="user">
                                <div class="form-group row">

                                    <div class="col-sm-6">
                                        <label class=" h5 font-weight-bold" >Input MO Identifier</label>
                                        <input type="text"  class="form-control form-control-user" id="mo" placeholder="MO Id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="ref">Product ID:</label>
                                        <input type="text"  class="form-control form-control-user" id="ref" placeholder="Reference">
                                    </div>

                                    <div class="col-sm-6">
                                      <label for="desig">Designation:</label>
                                        <input type="text" class="form-control form-control-user" id="desig" placeholder="Designation">
                                    </div>
                                </div>

                                <div class="form-group row">

                                  <label for="qty">Product quantity:</label>
                                        <input type="number" min="0" class="form-control form-control-user" id="qty"
                                            placeholder="Quantity">

                                    </div>



                                <div class="row">
                                    <div class="col text-right">
                                    <button class="btn btn-success btn-icon-split btn-lg" type="submit" value="Submit" style="width:30%">Edit</button>
                                    </div>
                                    <div class="col text-left">
                                    <button class="btn btn-dark btn-icon-split btn-lg" type="submit" value="Submit" style="width:30%">Cancel</button>
                                    </div>
                                </div>
                              <!--  <a href="index.html" class="btn btn-primary btn-user btn-block">
                                    Create
                                </a> -->

                                <hr>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

</body>

</html>